body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-image: url("./plano-de-fundo-de-programacao-com-pessoa-trabalhando-com-codigos-no-computador\ \(1\).jpg");
    background-size: cover;
}

.fundo {
    position: fixed;
    top: 0;
    z-index: -1;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;


}


.container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    

   





}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid green;
    max-width: 100%;
    background-size: cover;

}

.link {
    display: flex;
    justify-content: space-around;
    background-color: rgb(216, 237, 226);
    text-decoration: none;
    border-radius: 5px;
   padding: 5px;
   height: 60px;



    cursor: pointer;
    font-size: 18px;
    color: rgb(39, 105, 163);
    margin-bottom: 5px;
}

.link:hover {
    opacity: 0.5s;
    font-size: 20px;

    color: rgb(12, 12, 12);
}


.visualizacao {
    font-size: 15px;
    color: rgba(45, 51, 44, 0.792);
    margin-top: 40px;
    margin-left: 180px;
    position: fixed;
    height: 5px;

}